<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="DynamicContent">
          <match url="^(.*)$" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <!-- Set a log directory that is writable (adjust the path as needed) -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" logDirectory="D:\home\site\wwwroot\iisnode" />
  </system.webServer>
</configuration>
